body{
    background-image: url(bb5.jpg);
    background-size: 100% 100%;
}
a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
ul,li{
    display: flex;
    
}
li{
    margin-left: 90px;
    margin-top: -520px;
}
a:hover{
    cursor: pointer;
    color: rgb(0, 153, 255);
}
nav .active{
    color: rgb(0, 153, 255);
}
.bio{
    color: white;
    font-size: 30px;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: -450px;
    margin-left: 800px;
    text-decoration: underline;
    text-decoration-color:rgb(0, 153, 255) ;
    text-underline-offset: 20px;
    text-decoration-thickness: 8px;
    
}
.para{
    color: white;
    display: flex ;
    width: 400px;
    height: 150px;
    margin-top: 2%;
    margin-left: 800px;
}
.para2{
    color: white;
    display: flex ;
    width: 400px;
    height: 150px;
    margin-top: -30px;
    margin-left: 800px;
}
.para3{
    color: white;
    display: flex ;
    width: 400px;
    height: 150px;
    margin-top: -70px;
    margin-left: 800px;
}
.skill{
    color: white;
    font-size: 17px;
    margin-left: 800px;
    font-weight: bolder;
    margin-top: -90px;
}
.creative{
    color: white;
    border-color: white;
    border-width: 2px;
    display: flex;
    width: 70px;
    padding-left: 10px;
    border-style: solid;
    border-radius: 30px;
    margin-left: 800px;
    margin-top: 10px;
}
.ana{
    color: white;
    border-color: white;
    border-width: 2px;
    display: flex;
    width: 70px;
    padding-left: 10px;
    border-style: solid;
    border-radius: 30px;
    margin-left: 900px;
    margin-top: -20px;
}
.time{
    color: white;
    border-color: white;
    border-width: 2px;
    display: flex;
    width: 140px;
    padding-left: 10px;
    border-style: solid;
    border-radius: 30px;
    margin-left: 1000px;
    margin-top: -20px;
}
.team{
    color: white;
    border-color: white;
    border-width: 2px;
    display: flex;
    width: 100px;
    padding-left: 10px;
    border-style: solid;
    border-radius: 30px;
    margin-left: 800px;
    margin-top: 15px;
}
.game{

        color: white;
        border-color: white;
        border-width: 2px;
        display: flex;
        width: 70px;
        padding-left: 10px;
        border-style: solid;
        border-radius: 30px;
        margin-left: 930px;
        margin-top: -20px;
}
.photo{
    margin-top: 50px;
    
    margin-left: 70px;
}
@media screen and (max-width:1024px) {
    body{
        background-image: url(bb5.jpg);
        background-size: 100% 100%;
        
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 10px;
    }
    ul,li{
        display: flex;
        
    }
    li{
        margin-left: 70px;
        margin-top: -530px;
    }
    a:hover{
        cursor: pointer;
        color: rgb(0, 153, 255);
    }
    nav .active{
        color: rgb(0, 153, 255);
    }
    .bio{
        color: white;
        font-size: 30px;
        font-weight: bolder;
        font-family:Georgia, 'Times New Roman', Times, serif;
        margin-top: -450px;
        margin-left: 500px;
        text-decoration: underline;
        text-decoration-color:rgb(0, 153, 255) ;
        text-underline-offset: 20px;
        text-decoration-thickness: 8px;
        
    }
    .para{
        color: white;
        display: flex ;
        width: 400px;
        height: 150px;
        margin-top: 2%;
        margin-left: 530px;
    }
    .para2{
        color: white;
        display: flex ;
        width: 400px;
        height: 150px;
        margin-top: -30px;
        margin-left: 530px;
    }
    .para3{
        color: white;
        display: flex ;
        width: 400px;
        height: 150px;
        margin-top: -70px;
        margin-left: 530px;
    }
    .skill{
        color: white;
        font-size: 17px;
        margin-left: 500px;
        font-weight: bolder;
        margin-top: -90px;
    }
    .creative{
        color: white;
        border-color: white;
        border-width: 2px;
        display: flex;
        width: 70px;
        padding-left: 10px;
        border-style: solid;
        border-radius: 30px;
        margin-left: 500px;
        margin-top: 10px;
    }
    .ana{
        color: white;
        border-color: white;
        border-width: 2px;
        display: flex;
        width: 70px;
        padding-left: 10px;
        border-style: solid;
        border-radius: 30px;
        margin-left: 600px;
        margin-top: -20px;
    }
    .time{
        color: white;
        border-color: white;
        border-width: 2px;
        display: flex;
        width: 140px;
        padding-left: 10px;
        border-style: solid;
        border-radius: 30px;
        margin-left: 700px;
        margin-top: -20px;
    }
    .team{
        color: white;
        border-color: white;
        border-width: 2px;
        display: flex;
        width: 100px;
        padding-left: 10px;
        border-style: solid;
        border-radius: 30px;
        margin-left: 500px;
        margin-top: 15px;
    }
    .game{
    
            color: white;
            border-color: white;
            border-width: 2px;
            display: flex;
            width: 70px;
            padding-left: 10px;
            border-style: solid;
            border-radius: 30px;
            margin-left: 620px;
            margin-top: -20px;
    }
    .photo{
        margin-top: 50px;
        
        margin-left: 70px;
    }

} 
@media screen and (max-width:767px) {
    body{
        background-image: url(bb5.jpg);
        background-size: 100% 100%;
        
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 8px;
    }
    ul,li{
        display: flex;
        
    }
    li{
        margin-left: 45px;
        margin-top: -515px;
    }
    a:hover{
        cursor: pointer;
        color: rgb(0, 153, 255);
    }
    nav .active{
        color: rgb(0, 153, 255);
    }
    .bio{
        color: white;
        font-size: 20px;
        font-weight: bolder;
        font-family:Georgia, 'Times New Roman', Times, serif;
        margin-top: -450px;
        margin-left: 400px;
        text-decoration: underline;
        text-decoration-color:rgb(0, 153, 255) ;
        text-underline-offset: 20px;
        text-decoration-thickness: 8px;
        
    }
    .para{
        color: white;
        display: flex ;
        width: 350px;
        height: 150px;
        margin-top: 2%;
        margin-left: 400px;
    }
    .para2{
        color: white;
        display: flex ;
        width: 350px;
        height: 150px;
        margin-top: -20px;
        margin-left: 400px;
    }
    .para3{
        color: white;
        display: flex ;
        width: 350px;
        height: 150px;
        margin-top: -70px;
        margin-left: 400px;
    }
    .skill{
        color: white;
        font-size: 17px;
        margin-left: 400px;
        font-weight: bolder;
        margin-top: -90px;
    }
    .creative{
        color: white;
        border-color: white;
        border-width: 2px;
        display: flex;
        width: 70px;
        padding-left: 10px;
        border-style: solid;
        border-radius: 30px;
        margin-left: 400px;
        margin-top: 10px;
    }
    .ana{
        color: white;
        border-color: white;
        border-width: 2px;
        display: flex;
        width: 70px;
        padding-left: 10px;
        border-style: solid;
        border-radius: 30px;
        margin-left: 500px;
        margin-top: -20px;
    }
    .time{
        color: white;
        border-color: white;
        border-width: 2px;
        display: flex;
        width: 140px;
        padding-left: 10px;
        border-style: solid;
        border-radius: 30px;
        margin-left: 600px;
        margin-top: -20px;
    }
    .team{
        color: white;
        border-color: white;
        border-width: 2px;
        display: flex;
        width: 100px;
        padding-left: 10px;
        border-style: solid;
        border-radius: 30px;
        margin-left: 400px;
        margin-top: 15px;
    }
    .game{
    
            color: white;
            border-color: white;
            border-width: 2px;
            display: flex;
            width: 70px;
            padding-left: 10px;
            border-style: solid;
            border-radius: 30px;
            margin-left: 520px;
            margin-top: -20px;
    }
    .photo{
        margin-top: 50px;
        
        margin-left: 0px;
    }
    
}   
@media screen and (max-width:480px) {
    body{
        background-image: url(bb5.jpg);
        background-size: 100% 100%;
        
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 7px;
    }
    ul,li{
        display: flex;
        
    }
    li{
        margin-left: 15px;
        margin-top: -530px;
    }
    a:hover{
        cursor: pointer;
        color: rgb(0, 153, 255);
    }
    nav .active{
        color: rgb(0, 153, 255);
    } 
    .bio{
        color:white;
        font-size: 20px;
        font-weight: bolder;
        font-family:Georgia, 'Times New Roman', Times, serif;
        margin-top: 10px;
        margin-left: 10px;
        text-decoration: underline;
        text-decoration-color:rgb(0, 153, 255) ;
        text-underline-offset: 20px;
        text-decoration-thickness: 8px;
        
    }
    .para{
        color: white;
        display: flex ;
        width: 400px;
        height: 150px;
        margin-top: 5%;
        margin-left: 10px;
    }
    .para2{
        color: white;
        display: flex ;
        width: 400px;
        height: 150px;
        margin-top: -20px;
        margin-left: 10px;
    }
    .para3{
        color: white;
        display: flex ;
        width: 400px;
        height: 150px;
        margin-top: -70px;
        margin-left: 10px;
    }
    .skill{
        color: white;
        font-size: 17px;
        margin-left: 10px;
        font-weight: bolder;
        margin-top: -90px;
    }
    .creative{
        color: white;
        border-color: white;
        border-width: 2px;
        display: flex;
        width: 70px;
        padding-left: 10px;
        border-style: solid;
        border-radius: 30px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .ana{
        color: white;
        border-color: white;
        border-width: 2px;
        display: flex;
        width: 70px;
        padding-left: 10px;
        border-style: solid;
        border-radius: 30px;
        margin-left: 110px;
        margin-top: -20px;
    }
    .time{
        color: white;
        border-color: white;
        border-width: 2px;
        display: flex;
        width: 140px;
        padding-left: 10px;
        border-style: solid;
        border-radius: 30px;
        margin-left: 210px;
        margin-top: -20px;
    }
    .team{
        color: white;
        border-color: white;
        border-width: 2px;
        display: flex;
        width: 100px;
        padding-left: 10px;
        border-style: solid;
        border-radius: 30px;
        margin-left:10px;
        margin-top: 0px;
    }
    .game{
    
            color: white;
            border-color: white;
            border-width: 2px;
            display: flex;
            width: 70px;
            padding-left: 10px;
            border-style: solid;
            border-radius: 30px;
            margin-left: 210px;
            margin-top: 0px;
    }
    .photo{
        margin-top: 100px;
        
        margin-left: 30px;
    }
    
    
}   


@media screen and (max-width:400px) {
    body{
        background-image: url(bb5.jpg);
        background-size: 100% 100%;
        
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 7px;
    }
    ul,li{
        display: flex;
        
    }
    li{
        margin-left: 10px;
        margin-top: -530px;
    }
    a:hover{
        cursor: pointer;
        color: rgb(0, 153, 255);
    }
    nav .active{
        color: rgb(0, 153, 255);
    } 
    .bio{
        color:white;
        font-size: 20px;
        font-weight: bolder;
        font-family:Georgia, 'Times New Roman', Times, serif;
        margin-top: 10px;
        margin-left: 10px;
        text-decoration: underline;
        text-decoration-color:rgb(0, 153, 255) ;
        text-underline-offset: 20px;
        text-decoration-thickness: 8px;
        
    }
    .para{
        color: white;
        display: flex ;
        width: 380px;
        height: 150px;
        margin-top: 5%;
        margin-left: 10px;
    }
    .para2{
        color: white;
        display: flex ;
        width: 380px;
        height: 150px;
        margin-top: -20px;
        margin-left: 10px;
    }
    .para3{
        color: white;
        display: flex ;
        width: 380px;
        height: 150px;
        margin-top: -70px;
        margin-left: 10px;
    }
    .skill{
        color: white;
        font-size: 17px;
        margin-left: 10px;
        font-weight: bolder;
        margin-top: -90px;
    }
    .creative{
        color: white;
        border-color: white;
        border-width: 2px;
        display: flex;
        width: 70px;
        padding-left: 10px;
        border-style: solid;
        border-radius: 30px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .ana{
        color: white;
        border-color: white;
        border-width: 2px;
        display: flex;
        width: 70px;
        padding-left: 10px;
        border-style: solid;
        border-radius: 30px;
        margin-left: 110px;
        margin-top: -20px;
    }
    .time{
        color: white;
        border-color: white;
        border-width: 2px;
        display: flex;
        width: 140px;
        padding-left: 10px;
        border-style: solid;
        border-radius: 30px;
        margin-left: 210px;
        margin-top: -20px;
    }
    .team{
        color: white;
        border-color: white;
        border-width: 2px;
        display: flex;
        width: 100px;
        padding-left: 10px;
        border-style: solid;
        border-radius: 30px;
        margin-left:10px;
        margin-top: 10px;
    }
    .game{
    
            color: white;
            border-color: white;
            border-width: 2px;
            display: flex;
            width: 70px;
            padding-left: 10px;
            border-style: solid;
            border-radius: 30px;
            margin-left: 150px;
            margin-top: -20px;
    }
    .photo{
        margin-top: 100px;
        
        margin-left: -7px;
    }
    
    
}  

@media screen and (max-width:360px) {
    body{
        background-image: url(bb5.jpg);
        background-size: 100% 100%;
        
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 6.5px;
    }
    ul,li{
        display: flex;
        
    }
    li{
        margin-left: 8px;
        margin-top: -530px;
    }
    a:hover{
        cursor: pointer;
        color: rgb(0, 153, 255);
    }
    nav .active{
        color: rgb(0, 153, 255);
    } 
    .bio{
        color:white;
        font-size: 20px;
        font-weight: bolder;
        font-family:Georgia, 'Times New Roman', Times, serif;
        margin-top: 10px;
        margin-left: 10px;
        text-decoration: underline;
        text-decoration-color:rgb(0, 153, 255) ;
        text-underline-offset: 20px;
        text-decoration-thickness: 8px;
        
    }
    .para{
        color: white;
        display: flex ;
        width: 340px;
        height: 150px;
        margin-top: 5%;
        margin-left: 10px;
    }
    .para2{
        color: white;
        display: flex ;
        width: 340px;
        height: 150px;
        margin-top: -20px;
        margin-left: 10px;
    }
    .para3{
        color: white;
        display: flex ;
        width: 340px;
        height: 150px;
        margin-top: -70px;
        margin-left: 10px;
    }
    .skill{
        color: white;
        font-size: 17px;
        margin-left: 10px;
        font-weight: bolder;
        margin-top: -90px;
    }
    .creative{
        color: white;
        border-color: white;
        border-width: 2px;
        display: flex;
        width: 70px;
        padding-left: 10px;
        border-style: solid;
        border-radius: 30px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .ana{
        color: white;
        border-color: white;
        border-width: 2px;
        display: flex;
        width: 70px;
        padding-left: 10px;
        border-style: solid;
        border-radius: 30px;
        margin-left: 110px;
        margin-top: -20px;
    }
    .time{
        color: white;
        border-color: white;
        border-width: 2px;
        display: flex;
        width: 140px;
        padding-left: 10px;
        border-style: solid;
        border-radius: 30px;
        margin-left: 200px;
        margin-top: -20px;
    }
    .team{
        color: white;
        border-color: white;
        border-width: 2px;
        display: flex;
        width: 100px;
        padding-left: 10px;
        border-style: solid;
        border-radius: 30px;
        margin-left:10px;
        margin-top: 10px;
    }
    .game{
    
            color: white;
            border-color: white;
            border-width: 2px;
            display: flex;
            width: 70px;
            padding-left: 10px;
            border-style: solid;
            border-radius: 30px;
            margin-left: 150px;
            margin-top: -20px;
    }
    .photo{
        margin-top: 100px;
        
        margin-left: -38px;
    }
    
    
}   