
    

body{
    background-image: url(bb8.jpg);
    background-size: 100% 100%;
}
a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
ul,li{
    display: flex;
    
}
li{
    margin-left: 90px;
    margin-top: -530px;
}
a:hover{
    cursor: pointer;
    color: rgb(0, 153, 255);
}
nav .active{
    color: rgb(0, 153, 255);
}
.hi{
    color: rgb(0, 153, 255) ;
    font-style: oblique;
    font-family:'Courier New', Courier, monospace;
    margin-top: -450px;
    margin-left: 100px;
}
.name{
    color: white;
    font-size: 60px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 100px;
    font-weight: bolder;
}
.name2{
    color: white;
    font-size: 60px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 100px;
    font-weight: bolder;
}
.course{
    margin-top: 10px;
    display: inline-flex;
    padding: 3px;
    background-color: rgb(0, 153, 255) ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    margin-left: 100px;
    
}
.para{
    color: white;
    display: flex ;
    width: 600px;
    height: 150px;
    margin-top: 2%;
    margin-left: 110px;
}
span{
    font-size: 35px;
}

.photo{
    margin-left: 820px;
  
   

}

@media screen and (max-width:1024px) {
    body{
        background-image: url(bb8.jpg);
        background-size: 100% 100%;
        
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 10px;
    }
    ul,li{
        display: flex;
        
    }
    li{
        margin-left: 70px;
        margin-top: -530px;
    }
    a:hover{
        cursor: pointer;
        color: rgb(0, 153, 255);
    }
    nav .active{
        color: rgb(0, 153, 255);
    }
    .hi{
        color: rgb(0, 153, 255) ;
        font-style: oblique;
        font-family:'Courier New', Courier, monospace;
        margin-top: -450px;
        margin-left: 60px;
    }
    .name{
        color: white;
        font-size: 60px;
        font-family:'Times New Roman', Times, serif;
        margin-left: 60px;
        font-weight: bolder;
    }
    .name2{
        color: white;
        font-size: 60px;
        font-family:'Times New Roman', Times, serif;
        margin-left: 60px;
        font-weight: bolder;
    }
    .course{
        margin-top: 10px;
        display: inline-flex;
        padding: 3px;
        background-color: rgb(0, 153, 255) ;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bolder;
        margin-left: 60px;
        
    }
    .para{
        color: white;
        display: flex ;
        width: 500px;
        height: 150px;
        margin-top: 2%;
        margin-left: 70px;
    }
    span{
        font-size: 35px;
    }
    image{
        max-width: 100%;
        max-height: 100%;
    }
    .photo{
        margin-left: 580px;
       
       
    }
}

@media screen and (max-width:767px) {
    body{
        background-image: url(bb8.jpg);
        background-size: 100% 100%;
        
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 8px;
    }
    ul,li{
        display: flex;
        
    }
    li{
        margin-left: 45px;
        margin-top: -530px;
    }
    a:hover{
        cursor: pointer;
        color: rgb(0, 153, 255);
    }
    nav .active{
        color: rgb(0, 153, 255);
    }
    .hi{
        color: rgb(0, 153, 255) ;
        font-style: oblique;
        font-family:'Courier New', Courier, monospace;
        margin-top: -450px;
        margin-left: 40px;
    }
    .name{
        color: white;
        font-size: 45px;
        font-family:'Times New Roman', Times, serif;
        margin-left: 40px;
        font-weight: bolder;
    }
    .name2{
        color: white;
        font-size: 50px;
        font-family:'Times New Roman', Times, serif;
        margin-left: 40px;
        font-weight: bolder;
    }
    .course{
        margin-top: 10px;
        display: inline-flex;
        padding: 3px;
        background-color: rgb(0, 153, 255) ;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bolder;
        margin-left: 40px;
        
    }
    .para{
        color: white;
        display: flex ;
        width: 300px;
        height: 150px;
        margin-top: 2%;
        margin-left: 50px;
    }
    span{
        font-size: 35px;
    }
    image{
        max-width: 100%;
        max-height: 100%;
    }
    .photo{
        margin-left: 350px;
      
       
    }
}

@media screen and (max-width:480px) {
    body{
        background-image: url(bb8.jpg);
        background-size: 100% 100%;
        
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 7px;
    }
    ul,li{
        display: flex;
        
    }
    li{
        margin-left: 15px;
        margin-top: -550px;
    }
    a:hover{
        cursor: pointer;
        color: rgb(0, 153, 255);
    }
    nav .active{
        color: rgb(0, 153, 255);
    }
    .hi{
        color: rgb(0, 153, 255) ;
        font-style: oblique;
        font-family:'Courier New', Courier, monospace;
        margin-top: 10px;
        margin-left: 40px;
    }
    .name{
        color:white;
        font-size: 30px;
        font-family:'Times New Roman', Times, serif;
        margin-left: 40px;
        font-weight: bolder;
    }
    .name2{
        color: white;
        font-size: 30px;
        font-family:'Times New Roman', Times, serif;
        margin-left: 40px;
        font-weight: bolder;
    }
    .course{
        margin-top: 10px;
        display: inline-flex;
        padding: 3px;
        background-color: rgb(0, 153, 255) ;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bolder;
        margin-left: 40px;
        
    }
    .para{
        color: white;
        display: flex ;
        width: 350px;
        height: 150px;
        margin-top: -10px;
        margin-left: 50px;
    }
    span{
        font-size: 35px;
    }
    image{
        max-width: 100%;
        max-height: 100%;
    }
    .photo{
        margin-left: -10px;
        margin-top: 50px;
       
       
    }
}
@media screen and (max-width:320px){
    body{
        background-image: url(bb8.jpg);
        background-size: 100% 100%;
        
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 8px;
    }
    ul,li{
        display: flex;
        
    }
    li{
        margin-left: 45px;
        margin-top: -530px;
    }
    a:hover{
        cursor: pointer;
        color: rgb(0, 153, 255);
    }
    nav .active{
        color: rgb(0, 153, 255);
    }
    .hi{
        color: rgb(0, 153, 255) ;
        font-style: oblique;
        font-family:'Courier New', Courier, monospace;
        margin-top: -450px;
        margin-left: 40px;
    }
    .name{
        color: white;
        font-size: 45px;
        font-family:'Times New Roman', Times, serif;
        margin-left: 40px;
        font-weight: bolder;
    }
    .name2{
        color: white;
        font-size: 50px;
        font-family:'Times New Roman', Times, serif;
        margin-left: 40px;
        font-weight: bolder;
    }
    .course{
        margin-top: 10px;
        display: inline-flex;
        padding: 3px;
        background-color: rgb(0, 153, 255) ;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bolder;
        margin-left: 40px;
        
    }
    .para{
        color: white;
        display: flex ;
        width: 300px;
        height: 150px;
        margin-top: 2%;
        margin-left: 50px;
    }
    span{
        font-size: 35px;
    }
    image{
        max-width: 100%;
        max-height: 100%;
    }
    .photo{
        margin-left: 350px;
      
       
    }
}

@media screen and (max-width:400px) {
    body{
        background-image: url(bb8.jpg);
        background-size: 100% 100%;
        
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 7px;
    }
    ul,li{
        display: flex;
        
    }
    li{
        margin-left: 9px;
        margin-top: -550px;
    }
    a:hover{
        cursor: pointer;
        color: rgb(0, 153, 255);
    }
    nav .active{
        color: rgb(0, 153, 255);
    }
    .hi{
        color: rgb(0, 153, 255) ;
        font-style: oblique;
        font-family:'Courier New', Courier, monospace;
        margin-top: -30px;
        margin-left: 40px;
    }
    .name{
        color:white;
        font-size: 40px;
        font-family:'Times New Roman', Times, serif;
        margin-left: 40px;
        font-weight: bolder;
        margin-top: -20px;
    }
    .name2{
        color: white;
        font-size: 40px;
        font-family:'Times New Roman', Times, serif;
        margin-left: 40px;
        font-weight: bolder;
        margin-top: -10px;
    }
    .course{
        margin-top: 10px;
        display: inline-flex;
        padding: 1px;
        background-color: rgb(0, 153, 255) ;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bolder;
        margin-left: 40px;
        
        
    }
    .para{
        color: white;
        display: flex ;
        width: 250px;
        height: 150px;
        margin-top: -1px;
        margin-left: 50px;
    }
    span{
        font-size: 30px;
    }
    image{
        max-width: 100%;
        max-height: 100%;
    }
    .photo{
        margin-left: -50px;
        margin-top: 50px;
       
       
}

}

@media screen and (max-width:360px) {
    body{
        background-image: url(bb8.jpg);
        background-size: 100% 100%;
        
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 6.5px;
    }
    ul,li{
        display: flex;
        
    }
    li{
        margin-left: 8px;
        margin-top: -550px;
    }
    a:hover{
        cursor: pointer;
        color: rgb(0, 153, 255);
    }
    nav .active{
        color: rgb(0, 153, 255);
    }
    .hi{
        color: rgb(0, 153, 255) ;
        font-style: oblique;
        font-family:'Courier New', Courier, monospace;
        margin-top: -30px;
        margin-left: 40px;
    }
    .name{
        color:white;
        font-size: 40px;
        font-family:'Times New Roman', Times, serif;
        margin-left: 40px;
        font-weight: bolder;
        margin-top: -20px;
    }
    .name2{
        color: white;
        font-size: 40px;
        font-family:'Times New Roman', Times, serif;
        margin-left: 40px;
        font-weight: bolder;
        margin-top: -10px;
    }
    .course{
        margin-top: 10px;
        display: inline-flex;
        padding: 1px;
        background-color: rgb(0, 153, 255) ;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bolder;
        margin-left: 40px;
        
        
    }
    .para{
        color: white;
        display: flex ;
        width: 280px;
        height: 150px;
        margin-top: -1px;
        margin-left: 50px;
    }
    span{
        font-size: 30px;
    }
    image{
        max-width: 100%;
        max-height: 100%;
    }
    .photo{
        margin-left: -88px;
        margin-top: 50px;
       
       
}

}

